# General Files
*.ipynb_checkpoints
*.DS_Store

# Specific Module Ignores
## Introduction to User Inputs ##
modules/introduction-user-inputs/*.py

## Introduction to Argparse, Pt. 1 ##
modules/introduction-argparse-pt1/parsing.py

# Paused Modules
modules/working-with-the-command-line
